<div class="rpc">
    <form class="login-form" action="javascript:void(0);">
        <h1><i class="fa fa-lock fa-4x"></i></h1>
        <h1>Forgot Password?</h1>
        <p>You can reset your password here.</p>
        <div class="form-input">
            <input type="email" name="username" id="username" placeholder="Enter Your E-mail." role="form" autocomplete="off"
                class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary btn-ghost">Reset Password</button>
    </form>
</div>